<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Adicionar Usuário</title>
</head>
<body>

    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-auto">
                <% if(validacao.length > 0) { %>
                    <div class="col-auto">
                        <% for(let i = 0; i < validacao.length; i++) { %>
                            <div class="alert alert-danger d-flex align-items-center" role="alert">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                <div>
                                    <%= validacao[i].msg %>
                                </div>
                            </div>    
                        <% } %>        
                    </div>
                <% } %>
                <h1>Adicionar Usuário</h1>
                <form action="/administrador/criar_usuario" method="post">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" name="nome" id="nome" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="usuario">Usuário</label>
                        <input type="text" name="usuario" id="usuario" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" id="senha" class="form-control">
                    </div>

                    <div class="form-group d-flex justify-content-center align-items-center">
                        <input type="submit" value="Adicionar" class="btn btn-md btn-outline-success mt-2">  
                    </div>

                    <div class="form-group d-flex justify-content-center align-items-center">
                        <a class="btn btn-outline-danger mt-3" href="/administrador/deposito">Voltar</a> 
                    </div>
                          
                    
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>